<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>

    <!-- Dónde están tus clases -->
    <testsuites>
        <testsuite name="Test Suite">
            <directory>src/test</directory>
        </testsuite>
    </testsuites>

    <!-- Configuración de cobertura -->
    <coverage cacheDirectory=".phpunit.cache/coverage">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <!-- Archivo que usará Codecov o Jenkins -->
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>

</phpunit>