<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>

    <php>
        <env name="DB_HOST" value="db"/>
        <env name="DB_DATABASE" value="granferia"/>
        <env name="DB_USERNAME" value="user_test"/>
        <env name="DB_PASSWORD" value="password_test"/>
    </php>
    
    <testsuites>
        <testsuite name="Test Suite">
            <directory>src/test</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/coverage">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>

</phpunit>